body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
}

header{
    background-color: #cccccc;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

header h1{
    color: #000033;
    font-size: 75px;
}

header img{
    border-radius: 500px;
    width: 750px;
    border: 8px solid ghostwhite
}

h1, h2{
    font-family: 'Comic Neue', cursive;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main img{
    max-width: 100%;
}

h2{
    font-size: 35px;
    margin: 40px 0 10px;
}

a{
    color: #000033;
}

a:hover{
    color: white;
    background-color: #483a94;
}

footer{
    background-color: #cccccc;
    text-align: center;
    padding: 40px;
}

footer p{
    margin: 0;
}


figcaption{
    color: #999999;
    font-style: italic;
    margin-top: 0;
}

figure, img {
    margin: 0;
}